body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-container {
    background-color: #f7f7f7;
    width: 100%;
    height: 100vh;
    position: relative;
}

#dino {
    width: 107px;
    height: 107px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 50px;
}
/* 在 styles.css 中更新样式 */
#obstacle {
    width: 59px; /* 障碍物的宽度 */
    height: 59px; /* 障碍物的高度 */
    background-image: url("img/yue.png"); /* 设置障碍物的背景图片 */
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: obstacleMove 2s linear infinite;
}



@keyframes obstacleMove {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

#lives {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
